body {

}
.top-nav {
    margin-top:0px;
    margin-bottom: 0px;
    /*background-color: lightpink;*/
    background-color: #fff;
}
.top-nav a {
    display:block;
    padding: 0;
    height: 150px;
    font-size: 1.5em;
    /*color: white;*/
    color: #fff;
	background: url() center center repeat-x #ccc;
}
.top-nav a:hover {
	/*color:#efefef;*/
	color: #000;
	text-decoration: none;
}

.welcome-well {
    margin-top:20px;
}
p, ul {
    font-family: "PT serif", Georgia, serif;
    font-size: 20px;
}
blockquote {
    font-style: italic;
}
footer {
	/*background-color: lightpink;*/
	background-color: red;
	margin-top: 40px;
    margin-bottom:0;

	text-align: center;
}
footer a {
	/*color: #fff;*/
	color: #f39e5f;
	display: block;
	padding-top: 30px;
	padding-bottom: 30px;
    background: url() center center repeat-x #ccc;

}
a {
/*	color: #a6621b;*/
    color: #C50D03;
}
a:hover {
	background-color: ;
	color: #C50D03;
}
.panel-info {
	border-color: #86562b;
}
.panel-info > .panel-heading {
	background-color: #C50D03;
	color: #fff;
}

i {
	visibility: hidden;
}

/* css rules for html5 background video */
video#bgvid { 
    position: fixed;
    top: 50%;
    left: 50%;
    min-width: 100%;
    min-height: 100%;
    width: auto;
    height: auto;
    z-index: -100;
    -webkit-transform: translateX(-50%) translateY(-50%);
    transform: translateX(-50%) translateY(-50%);
    background: url(polina.jpg) no-repeat;
    background-size: cover; 
}
.xl-header {
    font-size: 200px;
    color: #fff;
    text-align: left;
}
.intro {
    font-size: 70px;
    margin-top: 300px;
    background-color: #efefef;
}
.section1 {
    background-color: #000;
    font-size: 100px;
    color: #fff;
    opacity: 0.5;
}

